USE [master]
GO
/****** Object:  Database [FishDB]    Script Date: 03/06/2026 9:40:48 AM ******/
CREATE DATABASE [FishDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FishDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FishDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FishDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FishDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FishDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FishDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 03/06/2026 9:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 03/06/2026 9:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[ShortDescription] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Author] [nvarchar](100) NULL,
	[PublishDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 03/06/2026 9:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SelectedGender] [nvarchar](20) NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 03/06/2026 9:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 03/06/2026 9:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 03/06/2026 9:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[SelectedGender] [nvarchar](20) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 03/06/2026 9:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[DepositAmount] [decimal](18, 2) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerPhone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 03/06/2026 9:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BioParameters] [nvarchar](max) NULL,
	[OldPrice] [decimal](18, 2) NULL,
	[CareInstructions] [nvarchar](2000) NULL,
	[Environment] [nvarchar](2000) NULL,
	[Gender] [nvarchar](2000) NULL,
	[MaleStock] [int] NOT NULL,
	[FemaleStock] [int] NOT NULL,
	[PairPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 03/06/2026 9:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [nvarchar](100) NOT NULL,
	[OrderId] [int] NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](2000) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/06/2026 9:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Salt] [varbinary](max) NOT NULL,
	[Contact] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Position] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[UserType] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260505000000_AddOldPriceToProducts', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [Quantity], [SelectedGender]) VALUES (13, 3, 22, 1, N'Đực')
INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [Quantity], [SelectedGender]) VALUES (14, 3, 10, 1, N'Đực')
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [UserId], [LastUpdated]) VALUES (1, N'10cea924-cd1f-4219-b767-115544b9a0ac', CAST(N'2026-06-01T02:12:07.3455195' AS DateTime2))
INSERT [dbo].[Carts] ([Id], [UserId], [LastUpdated]) VALUES (2, N'7a5d58c0-30f6-43bd-8324-6bd91714db67', CAST(N'2026-05-20T10:17:55.0953864' AS DateTime2))
INSERT [dbo].[Carts] ([Id], [UserId], [LastUpdated]) VALUES (3, N'9307b5fb-67a7-4b8e-8bc8-daf29d20b8c3', CAST(N'2026-06-02T07:36:35.0565504' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (1, N'Cá Thủy Sinh (Hiền lành)', N'Các loại cá nhỏ, bơi đàn, phù hợp bể có cây thủy sinh.')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (2, N'Cá Săn Mồi & Cá Lớn', N'Cá có tập tính lãnh thổ cao, ăn thịt, cần ghép cẩn thận.')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (3, N'Thiết Bị & Phụ Kiện', N'Hệ thống lọc, đèn, máy sủi và đồ trang trí.')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [SelectedGender]) VALUES (1, 1, 11, 1, CAST(30000.00 AS Decimal(18, 2)), N'Cặp')
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [SelectedGender]) VALUES (2, 2, 10, 1, CAST(160000.00 AS Decimal(18, 2)), N'Cặp')
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [SelectedGender]) VALUES (3, 3, 20, 1, CAST(300000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [ShippingAddress], [DepositAmount], [CustomerName], [CustomerPhone]) VALUES (1, N'10cea924-cd1f-4219-b767-115544b9a0ac', CAST(N'2026-05-25T08:33:36.3751581' AS DateTime2), CAST(30000.00 AS Decimal(18, 2)), N'Completed', N'Ấp 4, Xã Thới Bình, Cà Mau', CAST(15000.00 AS Decimal(18, 2)), N'Cao Việt Nhật', N'0827027392')
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [ShippingAddress], [DepositAmount], [CustomerName], [CustomerPhone]) VALUES (2, N'10cea924-cd1f-4219-b767-115544b9a0ac', CAST(N'2026-05-25T09:22:14.0526824' AS DateTime2), CAST(160000.00 AS Decimal(18, 2)), N'Completed', N'200 Hoàng Quốc Việt, Hà Nội', CAST(80000.00 AS Decimal(18, 2)), N'Bùi Đức Bằng', N'0949880099')
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [ShippingAddress], [DepositAmount], [CustomerName], [CustomerPhone]) VALUES (3, N'10cea924-cd1f-4219-b767-115544b9a0ac', CAST(N'2026-05-28T07:48:16.7881746' AS DateTime2), CAST(300000.00 AS Decimal(18, 2)), N'Completed', N'123-Hoàng Quốc Việt', CAST(150000.00 AS Decimal(18, 2)), N'Cao Việt Nhật', N'0348595285')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId], [BioParameters], [OldPrice], [CareInstructions], [Environment], [Gender], [MaleStock], [FemaleStock], [PairPrice]) VALUES (1, N'Cá Neon Tetra (Size M)', CAST(15000.00 AS Decimal(18, 2)), 500, N'https://bizweb.dktcdn.net/100/441/675/products/neon-tetra-bred-jpg-v-1623742471493.jpg?v=1773116727353', N'Cá bơi đàn dạ quang rực rỡ.', 1, N'{"Temp": "22-26°C", "pH": "5.5-7.0", "Behavior": "Hi?n lành"}', NULL, N'', N'', NULL, 250, 250, NULL)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId], [BioParameters], [OldPrice], [CareInstructions], [Environment], [Gender], [MaleStock], [FemaleStock], [PairPrice]) VALUES (3, N'Cá La Hán Khỉ Đỏ', CAST(1800000.00 AS Decimal(18, 2)), 5, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcST91u_1wfDWcqztp-jyNzRRAr3_Nzx6o50Qg&s', N'https://i.ytimg.com/vi/F1dWYVmXhKw/maxresdefault.jpg', 2, N'{"Temp": "28-32°C", "pH": "7.4-8.0", "Behavior": "R?t hung d?"}', NULL, NULL, NULL, NULL, 0, 0, NULL)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId], [BioParameters], [OldPrice], [CareInstructions], [Environment], [Gender], [MaleStock], [FemaleStock], [PairPrice]) VALUES (4, N'Cá Lóc Hoàng Đế', CAST(4500000.00 AS Decimal(18, 2)), 3, N'https://aquariumcare.vn/upload/sanpham/ca-loc-hoang-de.jpg', N'https://cacanhthaihoa.com/wp-content/uploads/2022/12/ca-loc-hoang-de-2.jpg', 2, N'{"Temp": "18-25°C", "pH": "6.0-7.5", "Behavior": "Hung d?, lãnh th?"}', NULL, NULL, NULL, NULL, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [OrderId], [Rating], [Comment], [CustomerName], [CreatedAt]) VALUES (1, 11, N'10cea924-cd1f-4219-b767-115544b9a0ac', 1, 5, N'Cá sống khỏe, giá phải chăng, Tư vấn nhiệt tình', N'Cao Việt Nhật', CAST(N'2026-05-25T08:56:01.6560340' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created]) VALUES (N'10cea924-cd1f-4219-b767-115544b9a0ac', N'Cao Việt Nhật', N'user', N'+V2Gi8DwlIa95YDuNMABBsD6Uq0LITqhtdQcmMcoa74=', 0x1A08B094C36694D4EB7A45E1BE540490, NULL, N'nhat123@gmail.com', N'0123456789', NULL, NULL, 1, 2, CAST(N'2026-04-25T21:02:18.7000910' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created]) VALUES (N'7a5d58c0-30f6-43bd-8324-6bd91714db67', N'Bùi Đức Bằng', N'admin', N'3VSgQP8yYkGaWrcLab+8lqXvYYceBByTpFvlTp3croI=', 0x32B20BA5D3590A5F7B619252E830F70A, NULL, N'ducbang1310@gmail.com', N'034595285', NULL, NULL, 1, 1, CAST(N'2026-04-24T09:54:29.0179610' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created]) VALUES (N'9307b5fb-67a7-4b8e-8bc8-daf29d20b8c3', N'Trịnh Minh Trí', N'minhtri', N'ZQw448xKd7o14sNXpqDeTJHt0zMFwG+6wtN3VSIP7No=', 0x25C7C20CC4D2039C0AF5D8366916469E, NULL, N'tridan123@gmail.com', N'0123456789', NULL, NULL, 1, 2, CAST(N'2026-06-01T14:28:22.5734879' AS DateTime2))
GO
/****** Object:  Index [IX_CartItems_CartId]    Script Date: 03/06/2026 9:40:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_CartId] ON [dbo].[CartItems]
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_ProductId]    Script Date: 03/06/2026 9:40:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_ProductId] ON [dbo].[CartItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Carts_UserId]    Script Date: 03/06/2026 9:40:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_Carts_UserId] ON [dbo].[Carts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_ProductId]    Script Date: 03/06/2026 9:40:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_ProductId] ON [dbo].[Reviews]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reviews_UserId]    Script Date: 03/06/2026 9:40:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_UserId] ON [dbo].[Reviews]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UIX_Reviews_OrderId]    Script Date: 03/06/2026 9:40:48 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_Reviews_OrderId] ON [dbo].[Reviews]
(
	[OrderId] ASC
)
WHERE ([OrderId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DepositAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [CustomerName]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [CustomerPhone]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [MaleStock]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [FemaleStock]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (N'') FOR [Comment]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (N'') FOR [CustomerName]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts_CartId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Products_ProductId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users_UserId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products]
GO
USE [master]
GO
